* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*outline: 1px solid red;*/
}

html,
body {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		135deg,
		rgba(255 0 0 /0.5),
		rgba(0 0 255 /0.5),
		Magenta
	);
}
/*          header            */
header {
	height: 10vh;
	margin-bottom: 1rem;
	font-size: 3.25rem;
}

/*       main up           */
.main-up {
	width: 100vw;
	/* display: grid;
	place-items: center;
	font-size: 2.5rem;
	flex: 1; */
}
#wrong-turn {
	position: absolute;
	inset: 50% auto auto auto;
	transform: translateY(-50%);
	padding: 0.5em 0;

	text-align: center;
	background-color: rgb(0, 200, 220, 0.9);
}
#wrong-turn::backdrop {
	background-image: radial-gradient(red, blue, purple);
	background-color: black;
}

/* container */

.row {
	position: relative;
	aspect-ratio: 1/1;
	height: 360px;
}
.col-4 {
	box-sizing: border-box;
	border: 3px solid black;
	font-size: 5rem;
	text-align: center;
	aspect-ratio: 1/1;
	height: 120px;
}

/* main down */

#winner-name {
	cursor: none;
}
#reset {
	position: relative;
	isolation: isolate;
	height: 54px;
	aspect-ratio: 2/1;
}
#reset:hover::after {
	border-radius: 15px 30px 15px 30px;
}
#reset::after {
	content: "";
	position: absolute;
	border-radius: 30px 15px 30px 15px;
	inset: 0;
	border: 1px solid red;
	z-index: -2;
	transition: border-radius 2s;
}

#line {
	height: 0px;
	position: absolute;
	background-color: black;
	transform-origin: left center;
	width: 0px;
	transition: width 1.6s ease-out;
}
.dialog {
	width: 250px;
	aspect-ratio: 1/1;
}
.speech-bubble {
	position: relative;
	width: 10em;
	height: 4em;
	border-radius: 0.25em;
	transform: rotate(-4deg) rotateY(15deg) translateX(-10%);
	background: hsl(212, 64%, 63%);
	font: 2em/1.39 Century Gothic, Verdana, sans-serif;
}
.speech-bubble:before,
.speech-bubble:after {
	border-top: 0.1px solid black;
	border-right: 0.1px solid black;
	position: absolute;
	z-index: -1;
	content: "";
}
.speech-bubble:after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: inherit;
	transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
	background: #f4fbfe;
}
.speech-bubble:before {
	border: solid 0 transparent;
	border-right: solid 3.5em #f4fbfe;
	border-bottom: solid 0.25em #629bdd;
	bottom: 0.25em;
	left: 1.25em;
	width: 0;
	height: 1em;
	transform: rotate(45deg) skewX(75deg);
}
.close-dialog {
	display: block;
}
